body {
    background-color: rgb(36, 33, 25);
}

h1, p {
    color: beige;
}

h1{
    font-family: "Libre Baskerville", sans-serif;
    font-size:3rem ;
 text-transform: uppercase;
}

.ava{
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

img{
    border: 5px solid beige;
    width: 100%;
}